@tailwind base;

a {
	@apply text-purple-600;
}

@tailwind components;
@tailwind utilities;

/* html {
	background-color: #f7fafc;
} */

.hamburger {
	width: 32px;
	height: 32px;
	cursor: pointer;
	position: relative;
}

.darksocials {
	stroke: black !important;
}

.bigquote {
	font-size: 2.4rem !important;
}

.hamburger::before {
	top: 10px;
}

.hamburger::after {
	bottom: 10px;
}

.hamburger::before,
.hamburger::after {
	content: '';
	width: 32px;
	height: 2px;
	background: black;
	display: block;
	position: absolute;
	/* transition: var(--transition-whoosh); */
}
