@tailwind base;

a {
	@apply text-purple-600;
}

@font-face {
	font-family: 'CircularStd';
	src: local('Circular Std'), url(../fonts/circular-medium.otf) format('otf');
}

@tailwind components;
@tailwind utilities;

/* html {
	background-color: #f7fafc;
} */

.hamburger {
	width: 32px;
	height: 32px;
	cursor: pointer;
	position: relative;
}

.darksocials {
	stroke: black !important;
}

.bigquote {
	font-size: 2.4rem !important;
}

.hamburger::before {
	top: 10px;
}

.hamburger::after {
	bottom: 10px;
}

.hamburger::before,
.hamburger::after {
	content: '';
	width: 32px;
	height: 2px;
	background: black;
	display: block;
	position: absolute;
	/* transition: var(--transition-whoosh); */
}

.blog-header {
	font-family: 'Circular Std', 'Avenir Next', Helvetica Neue, Arial;
}

h1,
h2 {
	font-family: 'Circular Std', 'Avenir Next', Helvetica Neue, Arial;
}
