@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'CircularStd';
	src: url('');
}
html {
	background-color: #f7fafc;
}

.hamburger {
	width: 32px;
	height: 32px;
	cursor: pointer;
	position: relative;
}

.hamburger::before {
	top: 10px;
}

.hamburger::after {
	bottom: 10px;
}

.hamburger::before,
.hamburger::after {
	content: '';
	width: 32px;
	height: 2px;
	background: black;
	display: block;
	position: absolute;
	/* transition: var(--transition-whoosh); */
}

.blog-header {
	font-family: 'Circular Std', 'Avenir Next', Helvetica Neue, Arial;
}
